:root {
  --brightness-day: 100%; /* Normal brightness during the day */
  --brightness-night: 80%; /* Reduced brightness during the night */
}

/* Other styles for your app */


.App {
  text-align: center;
  overflow: hidden;
  width: auto;
 
}
.change{
  text-align: center;
  overflow: hidden;
  width: auto;
  filter: brightness(var(--brightness-night));
 
}
.App::before{
  opacity: 0.8;
  filter: blur(20px);
}
.App::before{
  opacity: 3.5;
  filter: blur(5px);
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
